<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css.css" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <title>{{titulo}}</title>
</head>
<body>

<!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-light navbar fixed-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">TechFood</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--ABA PARA LEVAR PARA LANCHES-->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Lanches</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>

              <!-- DROPDOWN PARA ABAS DE FUNCIONÁRIOS -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/funcionarios.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Funcionários
              </a>

                <!-- OPÇÕES PARA FUNCIONÁRIOS -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/cadastrarFunc.html">Cadastrar Funcionários</a></li>
                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" href="/consultarFunc.html">Consultar Funcionários</a></li>
                <li><hr class="dropdown-divider">

                <li><a class="dropdown-item" href="/atualizarFunc.html">Atualizar Funcionários</a></li>
                <li><hr class="dropdown-divider">

                <li><a class="dropdown-item" href="/excluirFunc.html">Excluir Funcionários</a></li>

              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        <br>
<div class="container-xl"><!--100% wide until extra large breakpoint-->

    <br><br>
    <p  class="text-center fw-bold text-uppercase" >Cadastro Funcionário</p>
    <form action="/cadastrarFunc.html" method="POST" class="row g-3">
      <!-- label de nome -->
      <div class="col-md-6">
        <label id="nomeFunc" name="nomeFunc" class="form-label">Nome</label>
        <input type="text" class="form-control" id="tNomeFunc" name="tNovoNomeFunc" placeholder="Maria Conceição">
      </div>
      <!-- label de cpf -->
      <div class="col-md-6">
        <label id="cpfFunc" name="cpfFunc" class="form-label">CPF</label>
        <input type="text" class="form-control" id="tCpfFunc" name="tNovoCpfFunc" placeholder="000.000.000-00">
      </div>
      <!-- label de telefone -->
      <div class="col-md-6">
        <label id="celularFunc" name="celularFunc" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="tCelularFunc" name="tNovoCelularFunc" placeholder="(00)00000-0000">
      </div>
      <!-- label de salário -->
      <div class="col-md-6">
        <label id="salarioFunc"  name="salarioFunc" class="form-label">Salário</label>
        <input type="text" class="form-control" id="tSalarioFunc" name="tNovoSalarioFunc" placeholder="R$ 0000,00">
      </div>
      <!-- label de senha -->
      <div class="col-md-6">
        <label id="senhaFunc" name="senhaFunc" class="form-label">Senha</label>
        <input type="password" class="form-control" id="tSenhaFunc" name="tNovoSenhaFunc" placeholder="abc123@">
      </div>
      <!-- label de cargo -->
      <div class="col-md-4">
        <label for="inputCargo" class="form-label ">Cargo</label>
        <select id="inputCargo" name= "Cargo" class="form-select ">
          <option selected>Administrador</option>
          <option>Funcionário Comum</option>
        </select>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Cadastrar Funcionário</button>
      </div>
    </form>
          <!--resultado caso os dados tenha sido inseridos no BD-->
          <h3 class="text-center text-break">{{resultado}}</h3>
</div>
</body>
</html>
