<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css.css" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <title>{{titulo}}</title>
</head>
<body>

<!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-light navbar fixed-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">TechFood</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--ABA PARA LEVAR PARA LANCHES-->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Lanches</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>

              <!-- DROPDOWN PARA ABAS DE FUNCIONÁRIOS -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/funcionarios.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Funcionários
              </a>
                <!-- OPÇÕES PARA -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/cadastrarFunc.html">Cadastrar Funcionários</a></li>
                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" href="/consultarFunc.html">Consultar Funcionários</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        <br>
<div class="container-xl"><!--100% wide until extra large breakpoint-->

    <br><br>
    <p  class="text-center fw-bold text-uppercase" >Página inicial</p>

</div>
</body>
</html>
